.card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;

    > img {
        position: relative;
        top: 0;
        left: 0;
        width: 200px;
        height: 160px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    > div {
        position: relative;
        left: 0;
        top: 0;
        padding: 10px;
        height: 120px;

        > h5 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > p {
            margin: 0;
            font-size: 14px;

            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    }

}